.oshi-list-item {
    /* Frame 22 */

/* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 62px;
    gap: 10px;
    align-items: center;
    width: 1436px;
    height: 219px;
    cursor: pointer;
    background: #FFFFFF;

    /* Inside auto layout */

}
.oshi-list-main{
    /* Frame 112 */

/* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    width: 1312px;
    height: 181px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.oshi-list-item-top{
    /* Frame 117 */
    display: flex;
    gap: 10px;
    

}
.oshi-list-item-logo{
    /* Frame 118 */

/* Auto layout */
 


    /* Frame 118 */

/* Auto layout */
    


}
.oshi-list-item-imagebox{
    /* Frame 118 */
/* 00 Primary button */
    
/* Auto layout */
width: 200px;
height: 200px;



   

}

.oshi-list-item-image{
    width: 100%;

    height: 100%;
    background-position: 50% 50%;
    border-radius: 50% 50%;
    background-size: 100% 100%;
    
}