.auth-wrapper{
    background-color: antiquewhite;
    padding: 100px 0 100px;
    height: calc(100vh-64px-100px-150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container{

    
    height: 100%;
    width: 760px;
    background: #D9D9D9;
    border-radius: 79px;
   
}   

.auth-jumbotron-box{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px;
        
    /* Rectangle 25 */




}

.auth-jumbtoron-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}



.auth-jumbtoron-logo{
    width: 50px;
    height: 50px;
    background-image: url(assets/Eye.png);
    background-position: 50%50%;
    background-repeat:no-repeat ;
}


.auth-jumbtoron-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.auth-jumbotron-text{
    /* PROJECT */

    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    /* identical to box height, or 100% */

    color: #AD49C6;


}

.auth-card-top{
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.auth-title-box{
    display: flex;
    justify-content: center;
}
.auth-title-text{
    /* Create an account */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    text-align: center;
    letter-spacing: -0.01em;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}


.auth-card-box{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}