.header{
    background-color:darkgray;
    padding: 40px 0 ;
    display: flex;
    justify-content: center;
}
.header-top{
    
    display: flex;
    justify-content: space-between; 
    align-items: center ;
}
.header-middle{
    display: flex;
    align-items: center;
    
}
.header-container{
    min-width: 1200px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;    
}   
.header-link-box{
    display: flex;
    align-self: center;
    gap:20px;   
    
}
.header-logo-box{
    display: flex;
    gap:0px;
    flex-direction: column;
}


.text{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    min-width: 200px;
    display: flex;
}
.copy-light{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-items: center ;
    text-align:center ;

}

.header-bottom{
    width: 100%; /* 중앙 정렬 유지 */
    display: flex;
}